.active-members {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.active-member {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

.alphabet-filter {
    text-align: center;
    margin-bottom: 20px;
}

.alphabet-filter a {
    margin: 0 5px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.alphabet-filter a.active {
    color: #1f2a8a;
    font-weight: 700;
}

.letter-group {
    margin-bottom: 25px;
}

.letter-title {
    background: #e0e0e0;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 10px;
}

.names {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 20px;
}

.name-item a {
    font-size: 15px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .active-members {
        padding: 50px 20px;
    }

    .names {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px 20px;
    }

}