.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 100px 50px;
}

.contact-wrapper {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.getintouch {
    color: #000;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.getintouch h1 {
    font-weight: 600;
}

.forms, .form-control, .btn-submit {
    font-family: 'Poppins', sans-serif;
}

.forms {
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: start;
    align-items: start;
}

.contact-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-child i {
    width: 70px;
    height: 70px;
    background-color: #015931;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-child h4 {
    font-size: 20px;
}

.contact-forms {
    width: 50%;
}

.contact-form {
    display: flex;
    justify-content: start;

}

.contact-forms .form-group {
    margin-bottom: 20px;
}

.forms {
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-submit {
    background-color: #015931;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #013d24;
}

.alert {
    background-color: #d4edda; 
    color: #155724;
    padding: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.alert i {
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .contacts {
        padding: 50px 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .contact-wrapper {
        flex-direction: column;
    }

    .getintouch {
        width: 100%;
        flex-direction: column;
    }

    .contact-forms {
        width: 100%;
    }

    .contact-form {
        display: flex;
        justify-content: center;
    }



}