/* ================== HEADER ================== */
header {
    width: 100%;
    background-color: #ffffff;
    color: white;
    padding: 20px 100px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 50%;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.nav-link.active {
    color: #2A348D !important;
    font-weight: 600;
}

.logo {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.logo1 {
    width: 100px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #2A348D;
}

.buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.buttons-mobile {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    background: #ffffff;
    min-width: 160px;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 999;
}

.dropdown-menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    background: #f2f2f2;
    color: #2A348D;
}

.dropdown-menu a.active {
    color: #2A348D;
    font-weight: 600;
}

@media (min-width: 1025px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
}

@media (max-width: 1024px) {

    header {
        padding: 10px 20px;
    }

    nav {
        justify-content: space-between;
    }

    .logo1 {
        width: 80px;
    }

    .logo2 {
        width: 120px;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: #ffffff;
        display: none;
        flex-direction: column;
        gap: 15px;
        width: 180px;
        padding: 20px;
        border-radius: 8px;
    }

    .menu.show {
        display: flex;
    }

    .nav-link {
        font-size: 14px;
        margin: 0;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .dropdown-menu.show {
        display: flex;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        padding-left: 0px;
    }

}

/* ================== END HEADER ================== */

/* ================== FOOTER ================== */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2A348D;
    color: #ffffff;
    text-align: center;
    padding: 100px;
}

.footer-content {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 1;
    text-align: left;
}

.footer-item h3 {
    font-size: 25px;
    margin-bottom: 12px;
}

.footer-item p {
    margin-bottom: 15px;
}

.footer-item-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.footer-item-child p {
    flex: 1;
    margin: 0;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

.footer-logo2 {
    width: 150px;
}

.footer-desc p {
    font-size: 20px;
    color: #ffffff;
}

.footer-bottom {
    background-color: #ffffff;
    color: #2A348D;
    text-align: center;
    padding: 15px;
}

.footer-bottom a {
    font-weight: 600;
    color: #2A348D;
    text-decoration: none;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer-social img {
    width: 50px;
}

.footer-social-icons {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.contact-social-icons {
    font-size: 25px;
    color: #2A348D;
    text-decoration: none;
    transition: 0.3s;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

@media (max-width: 1024px) {
    footer {
        padding: 50px 20px;
    }

    .footer-logo {
        padding: 20px;
    }

    .footer-logo2 {
        width: 100px;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
    }

    .footer-item {
        text-align: left;
    }

    .footer-social {
        flex-direction: row;
    }

    .footer-social img {
        width: 40px;
    }

}

/* ================== END FOOTER ================== */