/* ================== HERO SECTION ================== */

.hero {
    background-image: linear-gradient(#2a348d9f, #2a348d9f), url('../images/hero-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 200px 100px 250px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 400px;
}

.hero-1 {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 15px;
}


.hero-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding: 100px 20px 50px 20px;
        text-align: center;
    }

    .hero-1,
    .hero-2 {
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    .hero img {
        width: 250px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .hero-buttons {
        gap: 10px;
        margin-top: 15px;
    }
}

/* ================== END HERO SECTION ================== */

/* ================== MAIN INFO SECTION ================== */

.main-info {
    background-color: #f5f5f5;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info-cards {
    display: flex;
    gap: 30px;
    width: 100%;
    max-width: 1300px;
}

.info-card {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-top: -200px;
    transition: transform 0.3s;
}

.info-card:hover {
    cursor: pointer;
}

.info-card h2 {
    font-size: 70px;
    color: #04293B;
    margin: 15px 0;
}

.info-card h3 {
    font-size: 25px;
    color: #04293B;
    margin: 15px 0;
}

.icon {
    width: 80px;
    height: 80px;
}

@media (max-width: 1024px) {
    .main-info {
        padding: 50px 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .info-cards {
        flex-direction: column;
    }

    .info-card {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        flex: 1;
        margin-top: 0px;
    }

    .info-card h2 {
        font-size: 50px;
        color: #04293B;
        margin: 15px 0;
    }

    .info-card h3 {
        font-size: 20px;
        color: #04293B;
        margin: 15px 0;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}

/* ================== END INFO SECTION ================== */

/* ================== VISI SECTION ================== */

.about {
    display: flex;
    gap: 50px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.abouts {
    display: flex;
    width: 100%;
    max-width: 1300px;
    gap: 50px;
}

.about-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: start;
}

.about-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 50px;
}

.about-item {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: start;
    align-items: center;
    transition: transform 0.3s;
}

.about-item:hover {
    transform: scale(1.05);
}

.about-item img {
    width: 30px;
}

.about-content h2 {
    font-size: 40px;
    color: #2A348D;
    margin-bottom: 40px;
}

.about-content h3 {
    font-size: 20px;
    color: #000;
    font-weight: 400;
}

.about-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 15px;
}

.about-content ul {
    margin-left: 20px;
    margin-top: 15px;
}

.about-content li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .about {
        flex-direction: column;
        padding: 50px 20px;
        gap: 30px;
    }

    .abouts {
        flex-direction: column;
    }

    .about-item img {
        width: 25px;
    }

    .about-item h3 {
        font-size: 15px !important;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-content h3 {
        font-size: 18px;
    }

    .about-content p,
    .about-content li {
        font-size: 14px;
    }
}

/* ================== END VISI SECTION ================== */

/* ================== MISI SECTION ================== */

.misi {
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: #04293B;
}

.misi>h2 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
}

.misi-content {
    display: flex;
    gap: 0;
    align-items: center;
}

.misi-content-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 0;
    align-items: center;
}

.misi-text {
    width: 50%;
    flex: 1;
}

.misi-text h2 {
    font-size: 30px;
    color: #ffffff;
    margin: 0px 100px;
    line-height: 1.5;
}

.misi-text p {
    font-size: 16px;
    color: #ffffff;
    margin: 0px 100px;
    line-height: 2;
}

.misi-image {
    width: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.misi-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .misi {
        padding: 50px;
    }

    .misi>h2 {
        font-size: 25px;
    }

    .misi-content {
        flex-direction: column-reverse;
    }

    .misi-content-reverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .misi-text {
        width: 50%;
        flex: 1;
        margin-bottom: 30px;
    }

    .misi-text h2 {
        font-size: 25px;
        color: #ffffff;
        margin: 0px;

    }

    .misi-text p {
        font-size: 12px;
        color: #ffffff;
        margin: 0px;

    }

    .misi-text {
        width: 100%;
        flex: 1;
    }

    .misi-image {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .misi-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }
}

/* ================== END MISI SECTION ================== */

/* ================== EKATALOG SECTION ================== */
.ekatalog-home {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #ffffff;
    align-items: center;
}

.ekatalog-homes {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-carousel a {
    color: #000;
    text-decoration: none;
}

.ekatalog-homes>h2 {
    font-size: 30px;
    color: #04293B;
    margin-bottom: 50px;
    text-align: center;
}

.e-katalog-content-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.e-katalog-content-home a {
    text-decoration: none;
    color: #04293B;
}

.btn-ekatalog-home {
    display: inline-block;
    padding: 12px 30px;
    background: #04293B;
    border: #04293B 1px solid;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn-ekatalog-home:hover {
    transform: scale(1.05);
}

.katalog-card-home {
    padding: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

@media (max-width: 1024px) {
    .ekatalog-home {
        padding: 50px 20px;
        justify-content: center;
    }

    .ekatalog-home>h2 {
        font-size: 25px;
    }

    .e-katalog-content-home {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .btn-ekatalog-home {
        padding: 8px 16px;
        font-size: 12px;
    }

}

/* ================== BUKU INFORMASI SECTION ================== */

.buku-informasi-home {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buku-informasi-home>h2 {
    font-size: 30px;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}

.buku-informasi-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
}

.anggota-carousel a {
    color: #000;
    text-decoration: none;
}

.buku-card {
    padding: 0px 0px 20px 0px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.buku-card:hover {
    cursor: pointer;
}

.buku-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px;

}

.buku-card h4 {
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 600;

}

.buku-card p {
    font-size: 16px;
}

.buku-card .container {
    padding: 0px 25px 0px 25px;
}

.buku-card .container p {
    font-size: 15px;
    margin: 10px;
}

@media (max-width: 1024px) {
    .buku-informasi-home {
        padding: 50px 20px;
        justify-content: center;
    }

    .buku-informasi-home>h2 {
        font-size: 25px;
    }

    .buku-card {
        padding: 20px;
    }

    .buku-card img {
        height: 200px;
    }

    .buku-card h4 {
        font-size: 15px;
    }

    .buku-card p {
        font-size: 14px;
    }

}

.join-us {
    background-color: #2A348D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.join-us-container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.join-us-container h3 {
    font-size: 20px;
    color: #000;
    font-weight: 400;
}

.join-us-children {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    align-items: start;
}

.join-us-children h2 {
    font-size: 25px;
    color: #000;
    font-weight: 700;
}

@media (max-width: 1024px) {
    .join-us {
        padding: 50px 20px;
    }

    .join-us-container {
        flex-direction: column;
        gap: 20px;
    }

}

.bottom-homes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.bottom-home {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

.bottom-home-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.bottom-home-1-card {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: start;
    align-items: center;
    padding: 30px;
    border: #000 solid 1px;
    border-radius: 20px;
}

.bottom-home-1-card img {
    width: 50px;
}

.bottom-home-1-card h1 {
    font-size: 20px;
}