/* ================== HERO SECTION ================== */

/* HERO SECTION */
.heros {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    position: relative;
    width: 100%;
    padding: 200px 50px 200px 0px;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-image: url('/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero-1 {
    position: relative;
    max-width: 700px;
    background: #015931;
    padding: 70px;
    margin-left: 0px;
    border-radius: 0px 20px 20px 0px;
    color: #fff;
    z-index: 2;
}

.hero-1 h1 {
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 700;
}

/* DESKRIPSI */
.hero-1 p {
    font-size: 14px;
    margin-bottom: 30px;
    opacity: 0.9;
}

/* BUTTON */
.hero-buttons .btn {
    display: inline-block;
    padding: 12px 26px;
    background: #ff6a00;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding: 100px 20px 50px 20px;
        text-align: center;
    }

    .hero::before {
        width: 100%;

    }


    .hero-1,
    .hero-2 {
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    .hero img {
        width: 250px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .hero-buttons {
        gap: 10px;
        margin-top: 15px;
    }
}

/* ================== END HERO SECTION ================== */

/* ================== VISI SECTION ================== */

/* ===== ABOUT SECTION ===== */
.about {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 50px 50px 50px 100px;
    background: #fff;
    overflow: hidden;
}

.about::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background: #015931;
    z-index: 1;
}

.abouts {
    position: relative;
    width: 75%;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 2;
}

.about-image {
    flex: 0 0 320px;
}

.about-image img {
    width: 500px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    /* box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15); */
}

/* CONTENT */
.about-content {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.about-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.about-heading h2 {
    font-size: 30px;
    font-weight: 700;
    color: #0a2540;
}

.about-text {
    font-size: 14px;
    line-height: 1.9;
    color: #000;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1024px) {
    .about {
        padding: 100px 20px;
    }

    .about::before {
        width: 100%;
        height: 200px;
    }

    .about-image img {
        width: 100%;
        height: auto;
    }

    .abouts {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .about-heading {
        align-items: center;

    }

    .about-heading h2 {
        font-size: 25px;
    }

    .about-content {
        max-width: 100%;
        align-items: center;

    }
}

/* ================== END VISI SECTION ================== */


/* ================== ACARA SECTION ================== */
.events {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 100px 50px;
    background-color: #f5f5f5;

}

.event {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event>h2 {
    font-size: 30px;
    color: #015931;
    margin-bottom: 50px;
    text-align: center;
}

.events-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.events-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.events-lastest {
    flex: 1;
}

.events-banner-card-lastest {
    position: relative;
    width: 100%;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.events-banner-card {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.events-banner-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.events-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.events-banner-content {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: white;
    z-index: 2;
    text-align: left;

}

.events-badge {
    background: #FFD500;
    color: #000;
    padding: 6px 14px;
    border-radius: 14px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 12px;
    font-weight: bold;
}

.events-banner-content h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    max-width: 600px;
}

.events-date {
    margin: 8px 0 20px;
    font-size: 15px;
    opacity: 0.85;
}

.events-btn-more {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.events-others {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .events {
        padding: 50px 20px;
        justify-content: center;
    }

    .event>h2 {
        font-size: 25px;
    }

    .events-content {
        flex-direction: column;
        gap: 30px;
    }

    .events-banner-content {
        left: 20px;
        bottom: 20px;
    }

    .events-banner-card {
        height: 300px;
    }

    .events-banner-card h2,
    .events-banner-card-lastest h2 {
        font-size: 15px;
    }

    .events-banner-card-lastest {
        max-height: 300px;
    }

    .events-others {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .events-date {
        font-size: 12px;
    }


}

/* ================== END ACARA SECTION ================== */


/* ================== MISI SECTION ================== */

.misi {
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: #04293B;
}

.misi>h2 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
}

.misi-content {
    display: flex;
    gap: 0;
    align-items: center;
}

.misi-content-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 0;
    align-items: center;
}

.misi-text {
    width: 50%;
    flex: 1;
}

.misi-text h2 {
    font-size: 30px;
    color: #ffffff;
    margin: 0px 100px;
    line-height: 1.5;
}

.misi-text p {
    font-size: 16px;
    color: #ffffff;
    margin: 0px 100px;
    line-height: 2;
}

.misi-image {
    width: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.misi-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .misi {
        padding: 50px;
    }

    .misi>h2 {
        font-size: 20px;
    }

    .misi-content {
        flex-direction: column-reverse;
    }

    .misi-content-reverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .misi-text {
        width: 50%;
        flex: 1;
        margin-bottom: 30px;
    }

    .misi-text h2 {
        font-size: 25px;
        color: #ffffff;
        margin: 0px;

    }

    .misi-text p {
        font-size: 12px;
        color: #ffffff;
        margin: 0px;

    }

    .misi-text {
        width: 100%;
        flex: 1;
    }

    .misi-image {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .misi-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }
}

/* ================== END MISI SECTION ================== */

/* ================== EKATALOG SECTION ================== */
.ekatalog-home {
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    background-color: #f5f5f5;
    align-items: center;
}

.ekatalog-homes {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-carousel a {
    color: #000;
    text-decoration: none;
}

.ekatalog-homes>h2 {
    font-size: 30px;
    color: #015931;
    margin-bottom: 50px;
    text-align: center;
}

.e-katalog-content-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.e-katalog-content-home a {
    text-decoration: none;
    color: #04293B;
}

.btn-ekatalog-home {
    display: inline-block;
    padding: 12px 30px;
    background: #04293B;
    border: #04293B 1px solid;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn-ekatalog-home:hover {
    transform: scale(1.05);
}

.katalog-card-home {
    padding: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

@media (max-width: 1024px) {
    .ekatalog-home {
        padding: 50px 20px;
        justify-content: center;
    }

    .ekatalog-homes>h2 {
        font-size: 25px;
    }

    .e-katalog-content-home {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .btn-ekatalog-home {
        padding: 8px 16px;
        font-size: 12px;
    }

}

/* ================== BUKU INFORMASI SECTION ================== */

.buku-informasi-home {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buku-informasi-home>h2 {
    font-size: 30px;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}

.buku-informasi-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
}

.anggota-carousel a {
    color: #000;
    text-decoration: none;
}

.buku-card {
    padding: 0px 0px 20px 0px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.buku-card:hover {
    cursor: pointer;
}

.buku-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px;

}

.buku-card h4 {
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 600;

}

.buku-card p {
    font-size: 16px;
    color: #015931;
}

.buku-card .container {
    padding: 0px 25px 0px 25px;
}

.buku-card .container p {
    font-size: 15px;
    margin: 10px;
}

@media (max-width: 1024px) {
    .buku-informasi-home {
        padding: 50px 20px;
        justify-content: center;
    }

    .buku-informasi-home-content>h2 {
        font-size: 25px;
    }

    .buku-card {
        padding: 20px;
    }

    .buku-card img {
        height: 200px;
    }

    .buku-card h4 {
        font-size: 15px;
    }

    .buku-card p {
        font-size: 14px;
    }

}

.home-highlight {
    background-color: #015931;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 100px 50px;
}

.home-highlight-container {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.highlight-button .btn {
    display: inline-block;
    padding: 12px 26px;
    background: #fff;
    color: #015931;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;

}

.highlight-text {
    color: #fff;
    font-size: 20px;
}

.highlight-head h1 {
    color: #fff;
    font-size: 40px;
    width: 70%;

}

@media (max-width: 1024px) {
    .home-highlight {
        padding: 50px 20px;
    }

    .home-highlight-container {
        flex-direction: column;
        gap: 20px;
    }

    .highlight-text {
        color: #fff;
        font-size: 15px;
    }

    .highlight-head h1 {
        font-size: 30px;
        width: 100%;
    }


}

.bottom-homes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.bottom-home {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
}

.bottom-home-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.bottom-home-1-card {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: start;
    align-items: center;
    padding: 30px;
    border: #000 solid 1px;
    border-radius: 20px;
}

.bottom-home-1-card img {
    width: 50px;
}

.bottom-home-1-card h1 {
    font-size: 20px;
}