.peranans {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 100px 50px;
}

.peranan {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.peranan-content {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.peranan-content h1 {
    font-size: 25px;
    color: #015931;
}

.peranan-image {
    flex: 1;
    width: 50%;
}

.peranan-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

@media(max-width: 1024px) {
    .peranans {
        padding: 0 20px 50px 20px;
    }

    .peranan {
        flex-direction: column;
        gap: 30px;
        justify-content: start;
    }

    .peranan-content {
        width: 100%;
    }

    .peranan-content h1 {
        display: none;
    }

    .peranan-content p {
        text-align: justify;
    }

    .peranan-image {
        width: 100%;
    }

    .peranan-image img {
        height: 300px;
    }
}