.sejarah-wrapper {
    padding: 0 50px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sejarah {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sejarah-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.sejarah-content h1 {
    font-size: 25px;
    color: #015931;
}

.sejarah-image img {
    width: 100%;
    max-width: 800px;
}

@media (max-width: 1024px) {
    .sejarah-wrapper {
        padding: 0 20px 50px 20px;
    }

    .sejarah {
        max-width: 100%;
    }

    .sejarah-image img {
        width: 100%;
    }

}