.hero-visi-misis {
    background-image: linear-gradient(#2a348d9f, #2a348d9f), url('../images/gunungbatur.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-visi-misi {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-visi-misi h1 {
    font-size: 50px;
}

.hero-visi-misi p {
    font-size: 20px;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
    .hero-visi-misis {
        padding: 100px 20px;
    }

    .hero-visi-misi h1 {
        font-size: 30px;
    }

    .hero-visi-misi p {
        font-size: 16px;
        margin-bottom: 0px;
    }


}

.info-visi-misis {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 50px 100px;
}

.info-visi-misis-2 {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 100px 100px;
}

.info-visi-misi {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.info-visi-misi-image {
    width: 50%;
}

.info-visi-misi-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.info-visi-misi-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #000;
}

.info-visi-misi-text p {
    font-size: 15px;
}

.info-visi-misi-heading {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.info-visi-misi-heading img {
    width: 60px;
}

.info-visi-misi-heading h2 {
    font-size: 20px;
    margin: 0;
}


@media (max-width: 1024px) {
    .info-visi-misis {
        padding: 50px 20px;
    }

    .info-visi-misis-2 {
        padding: 50px 20px;
    }

    .info-visi-misi {
        flex-direction: column;
        gap: 20px;
    }

    .info-visi-misi-image {
        width: 100%;
    }

    .info-visi-misi-image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 20px;
    }

    .info-visi-misi-heading img {
        width: 40px;
    }

    .info-visi-misi-text {
        width: 100%;
    }
}